In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib as mpl

df= pd.read_csv("http://rcs.bu.edu/examples/python/DataAnalysis/Salaries.csv")

In [7]:
#Formulate one research question.
#Research Question: What determines the salary value?

In [8]:
#1.	Identify the type of variables you have. Show the number of observations.
#2.	Count the number of blank or null values.
#3.	Perform descriptive statistics to all numerical values. What did you learn based from the values.
#4.	Use Groupby in at least 2 categorical variables. Provide a short interpretation. 
#5.	Filter your dataset and assign it to a new variable.
#6.	Based from the basic python commands, have you seen any trend/pattern in your dataset?

In [9]:
#1. 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB
None

In [10]:
#2.
print(df.isnull().sum())

rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [11]:
#3. Based on the values the highest phd has the highest salary.
print(df.describe())

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [7]:
#4. Those who are in discipline A has the lowest salary.
#Those who have a rank as Prof has the highest salary in discipline B.
grouped_data = df.groupby(['rank','discipline','sex'])['salary'].min()
print(grouped_data)

grouped_datab = df.groupby(['rank','discipline','sex'])['salary'].max()
print(grouped_datab)

rank       discipline  sex
AssocProf  A           Female     62884
                       Male       81285
           B           Female     71065
                       Male      107008
AsstProf   A           Female     63100
                       Male       73000
           B           Female     74692
                       Male       75044
Prof       A           Female     90450
                       Male       57800
           B           Female    105450
                       Male       99418
Name: salary, dtype: int64
rank       discipline  sex
AssocProf  A           Female     77500
                       Male       81285
           B           Female    109650
                       Male      119800
AsstProf   A           Female     78500
                       Male       85000
           B           Female     97032
                       Male       92000
Prof       A           Female    137000
                       Male      155865
           B           Female    161101
                       Male      186960
Name: salary, dtype: int64

In [50]:
#5.
filtered_df = df[df['salary'] > 70000] 
print (filtered_df.describe())

             phd    service         salary
count  75.000000  75.000000      75.000000
mean   19.386667  14.600000  109894.280000
std    12.109738  11.572334   27212.955223
min     1.000000   0.000000   71065.000000
25%    10.500000   4.500000   91000.000000
50%    18.000000  14.000000  105000.000000
75%    27.500000  20.000000  127222.500000
max    56.000000  49.000000  186960.000000

In [51]:
#6. The pattern I see is that rank and discipline determine the salary. 
#This also answers my research question:
#What determines the salary value?

#Student Name: Marieshiel Enriquez